body {
  color: orange;
}

.hi {
  border: 2px solid black;
}

.home-panel {
  height: 100vh;
  background: lavender;
}

.home-col-center {
  background: #e1e1e1;
}

.home-col-left {
  background: #bbb;
}

.home-col-right {
  background: #999;
}

.vx {
  flex: 1;
  border: 2px solid orange;
}

.test {
  border: 3px solid green !important;
}

.canvas-container canvas {
  border: 1px solid red !important;
  width: 100% !important;
  height: 100% !important;
}

.level1 {
  color: green;
}